doctype html
html(lang='en')
  head
    title docwhat
    link(
        rel="stylesheet" 
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous")
    style.
        .sidebar { 
            position: fixed;
            top: 61px;
            width: 250px;
        }

        .with-sidebar {
            position: relative;
            margin-left: 290px;
            max-width: 650px;
        }

        .menu-root {
            list-style-type: none;
            line-height: 1.8em;
        }

        .menu-sub {
            list-style-type: none;
            line-height: 1.8em;
            padding-left: 1em;
        }

        .dc-lite-example {
            border: solid lightgrey 1px;
            /*
            border-top: solid lightgrey 1px;
            border-bottom: solid lightgrey 1px;
            */
            border-radius: 10px;
            padding: 15px;
            width: 657px;
            margin-bottom: 25px;
            margin-top: 10px;
        }

        .instructions h3 {
            font-size: 20px;
        }

        /*
        .section-link {
            font-size: .85em;
        }
        */

        .chapter-link {
            font-size: 1.15em;
        }

        a.active {
            color: black;
        }

        .menu-root li:not(.active) .menu-sub{
            display: none;
        }

        li.active .chapter-link {
            color: black;
        }



  body
    h1 DocWhatttt
    include includes/sidebar.pug

    include includes/exercises.pug

    script(src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ace.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/mode-python.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/mode-r.js")
    script(src="build.js")
    script(src="https://cdn.datacamp.com/datacamp-light-latest.min.js")
